flows.json
[{"id":"88c72e5a.210c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7493e9ee.4b09e8","type":"comment","z":"88c72e5a.210c8","name":"Node-Red y Git","info":"","x":360,"y":100,"wires":[]},{"id":"2943aa47.2ae1e6","type":"inject","z":"88c72e5a.210c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":200,"wires":[["136979de.3f1fa6"]]},{"id":"136979de.3f1fa6","type":"debug","z":"88c72e5a.210c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":200,"wires":[]}]